
*{
    margin: 0;
    padding: 0;
}

body{
    color: black ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
   
  
   

}


.principio{
    width: 100%;
    display: flex;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.63)),url("https://media.infocielo.com/p/6b9bcc76774715f47b4a66275243dfde/adjuntos/299/imagenes/001/334/0001334462/887x0/smart/maxresdefaultjpg.jpg") ;
    background-position: center center ;
    background-repeat: no-repeat ;
    background-size: cover ;  
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    
}
.titulo{
   
   
    width: 50%; 
    
 }


.contenido1{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 200px 0px ;
    padding: 100px;
    background-color: rgba(6, 6, 6, 0.219);
}


 .contenido2{
    font-size: 30px;
    margin-top: 60px;
    width: 50%;
    left: 60px;
    top: -600px;
    
    text-align: center;
    color: rgba(0, 0, 0, 0.998) ;



 }

 .imagen{

    position: relative;
    top: -450px;
    left: 320px;
    width: 45%;
    border-radius: 30px;



 }


 .btn1{

    text-decoration: none;
    background-color: grey;
    font: 30px;
    padding: 20px;
    width: 20%;
    margin-top: -300px;
    margin-left: -950px;
    color: black;
    border-radius: 60px;
    transition: 0.10s;

}

.btn1:hover{

    background-color: rgba(68, 68, 240, 0.759);
    color: white;
    transform: scale(1.05, 1.05);
    cursor: pointer;

}

.btn2{

   text-decoration: none;
   background-color: grey;
   font: 30px;
   padding: 15px;
   width: 20%;
   margin-top: -65px;
   margin-left: 950px;
   color: black;
   border-radius: 60px;
   transition: 0.10s;

}


.btn2:hover{

    background-color: rgba(68, 68, 240, 0.759);
    color: white;
    transform: scale(1.05, 1.05);
    cursor: pointer;

}

.pie{
    background: linear-gradient( to right,  black,rgb(104, 104, 104),black);
    margin-top: 150px;
    width: 100%;
    

}
.nombre{
    
    text-align: left;
    font-size: 25px;
    color: white;
}

.materia{

    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: right;
}

.correo{

    font-size: 25px;
    color: white;
    text-align: left;
}